In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Create a path to the csv and read it into a Pandas DataFrame for Poverty Rate Data
csv_path = "CountyPovertyRate.csv"
county_pov_df = pd.read_csv(csv_path)

county_pov_df.head()

  Rank             County Poverty Rate Urban/Rural/Sub
0  1st      Carver County        4.00%        Suburban
1  2nd  Washington County        5.00%        Suburban
2  3rd      Wright County        5.00%        Suburban
3  4th     Chisago County        5.40%           Rural
4  5th       Scott County        5.60%        Suburban

In [3]:
print(county_pov_df.dtypes)

Rank               object
County             object
Poverty Rate       object
Urban/Rural/Sub    object
dtype: object

In [4]:
county_pov_df.columns

Index(['Rank', 'County', 'Poverty Rate', 'Urban/Rural/Sub'], dtype='object')

In [5]:
county_pov_df['County']=county_pov_df['County'].str.split(" ").str[0]
county_pov_df['Poverty Rate']=county_pov_df['Poverty Rate'].str.split("%").str[0]
county_pov_df.head(15)

    Rank      County Poverty Rate Urban/Rural/Sub
0    1st      Carver         4.00        Suburban
1    2nd  Washington         5.00        Suburban
2    3rd      Wright         5.00        Suburban
3    4th     Chisago         5.40           Rural
4    5th       Scott         5.60        Suburban
5    6th       Dodge         5.70           Rural
6    7th     Wabasha         6.10           Rural
7    8th   Sherburne         6.40           Rural
8    9th       Anoka         6.60        Suburban
9   10th      Dakota         6.90        Suburban
10  11th      Isanti         7.10           Rural
11  12th        Lake         7.40           Rural
12  13th     Jackson         7.70           Rural
13  14th    Marshall         7.80           Rural
14  15th        Pope         7.90           Rural

In [6]:
# Use pd.to_numeric() method to convert the datatype of the Amount column
county_pov_df['Poverty Rate'] = pd.to_numeric(county_pov_df['Poverty Rate'])

In [7]:
print(county_pov_df.dtypes)

Rank                object
County              object
Poverty Rate       float64
Urban/Rural/Sub     object
dtype: object

In [8]:
county_pov_df.to_csv("CountyPovertyRate_Clean.csv", index=False, header=True)