In [14]:
import pandas as pd
import numpy as np

In [15]:
nitrate_df = pd.read_csv("nitrate_2017.csv")
nitrate_df

,pwsId,year,analyteCode,pwsName,countyServed,cityServed,waterSource,mean,max,populationServed,fips,Unnamed: 11
0,1010001,2017,Nitrate,Aitkin,Aitkin,Aitkin,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),2165,27001,NaN
1,1010002,2017,Nitrate,Thompson Mobile Home Park,Aitkin,Aitkin,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),45,27001,NaN
2,1010019,2017,Nitrate,Why-Not Park,Aitkin,Aitkin,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),25,27001,NaN
3,1010011,2017,Nitrate,Hill City,Aitkin,Hill City,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),633,27001,NaN
4,1010016,2017,Nitrate,McGregor,Aitkin,McGregor,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),394,27001,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
958,1870005,2017,Nitrate,Hanley Falls,Yellow Medicine,Hanley Falls,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),275,27173,NaN
959,1870011,2017,Nitrate,Hazel Run,Yellow Medicine,Hazel Run,Purchased Groundwater,4.812 mg/L,5.8 mg/L,61,27173,NaN
960,1870006,2017,Nitrate,Porter,Yellow Medicine,Porter,Purchased Groundwater,4.812 mg/L,5.8 mg/L,180,27173,NaN
961,1870007,2017,Nitrate,Saint Leo,Yellow Medicine,St. Leo,Purchased Groundwater,4.812 mg/L,5.8 mg/L,97,27173,NaN
962,1870008,2017,Nitrate,Wood Lake,Yellow Medicine,Wood Lake,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),439,27173,NaN

In [16]:
clean_nitrate_df = nitrate_df.loc[:, ["analyteCode", "countyServed", "waterSource", "mean", "max", "populationServed"]]

In [17]:
clean_nitrate_df

,analyteCode,countyServed,waterSource,mean,max,populationServed
0,Nitrate,Aitkin,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),2165
1,Nitrate,Aitkin,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),45
2,Nitrate,Aitkin,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),25
3,Nitrate,Aitkin,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),633
4,Nitrate,Aitkin,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),394
...,...,...,...,...,...,...
958,Nitrate,Yellow Medicine,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),275
959,Nitrate,Yellow Medicine,Purchased Groundwater,4.812 mg/L,5.8 mg/L,61
960,Nitrate,Yellow Medicine,Purchased Groundwater,4.812 mg/L,5.8 mg/L,180
961,Nitrate,Yellow Medicine,Purchased Groundwater,4.812 mg/L,5.8 mg/L,97
962,Nitrate,Yellow Medicine,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),439