In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = "CountyPovertyRate.csv"
county_pov_df = pd.read_csv(csv_path)

county_pov_df.head()

  Rank             County Poverty Rate Urban/Rural/Sub
0  1st      Carver County        4.00%        Suburban
1  2nd  Washington County        5.00%        Suburban
2  3rd      Wright County        5.00%        Suburban
3  4th     Chisago County        5.40%           Rural
4  5th       Scott County        5.60%        Suburban

In [ ]:
county_pov_df["Poverty Rate"]

In [3]:
pov_rate = []
for i in range(len(county_pov_df)):
    county_pov_int = county_pov_df["Poverty Rate"][i]
    county_pov_int = county_pov_int.split("%")[0]
    pov_rate.append(county_pov_int)

In [4]:
county_pov_df = county_pov_df.drop(columns=["Poverty Rate"],axis=1)

In [5]:
county_pov_df["Poverty Rate (%)"] = pov_rate
county_pov_df.head()

  Rank             County Urban/Rural/Sub Poverty Rate (%)
0  1st      Carver County        Suburban             4.00
1  2nd  Washington County        Suburban             5.00
2  3rd      Wright County        Suburban             5.00
3  4th     Chisago County           Rural             5.40
4  5th       Scott County        Suburban             5.60

In [6]:
#re-order columns
county_pov_df = county_pov_df[['Rank','County','Poverty Rate (%)','Urban/Rural/Sub']]
county_pov_df.head()

  Rank             County Poverty Rate (%) Urban/Rural/Sub
0  1st      Carver County             4.00        Suburban
1  2nd  Washington County             5.00        Suburban
2  3rd      Wright County             5.00        Suburban
3  4th     Chisago County             5.40           Rural
4  5th       Scott County             5.60        Suburban

In [ ]:
county_pov_df.dtypes

In [7]:
county_pov_df["Poverty Rate (%)"] = pd.to_numeric(county_pov_df["Poverty Rate (%)"])
county_pov_df.dtypes

Rank                 object
County               object
Poverty Rate (%)    float64
Urban/Rural/Sub      object
dtype: object

In [8]:
type(county_pov_df["County"][0])

str

In [9]:
#arsenic 
csv_path1 = "arsenic_2017.csv"
arsenic_df = pd.read_csv(csv_path1)

arsenic_df.head()

,pwsId,year,analyteCode,pwsName,countyServed,cityServed,waterSource,mean,max,populationServed,fips,Unnamed: 11
0,1010001,2017.0,Arsenic,Aitkin,Aitkin,Aitkin,Groundwater,3.09 ug/L,3.22 ug/L,2165.0,27001.0,NaN
1,1010002,2017.0,Arsenic,Thompson Mobile Home Park,Aitkin,Aitkin,Groundwater,0.5 ug/L (ND),0.5 ug/L (ND),45.0,27001.0,NaN
2,1010019,2017.0,Arsenic,Why-Not Park,Aitkin,Aitkin,Groundwater,5.29 ug/L,6.02 ug/L,25.0,27001.0,NaN
3,1010011,2017.0,Arsenic,Hill City,Aitkin,Hill City,Groundwater,4.77 ug/L,4.77 ug/L,633.0,27001.0,NaN
4,1010016,2017.0,Arsenic,McGregor,Aitkin,McGregor,Groundwater,4.83 ug/L,4.83 ug/L,394.0,27001.0,NaN

In [10]:
arsenic_df = arsenic_df.drop(columns=["Unnamed: 11"],axis=1)

In [11]:
arsenic_df.head()

,pwsId,year,analyteCode,pwsName,countyServed,cityServed,waterSource,mean,max,populationServed,fips
0,1010001,2017.0,Arsenic,Aitkin,Aitkin,Aitkin,Groundwater,3.09 ug/L,3.22 ug/L,2165.0,27001.0
1,1010002,2017.0,Arsenic,Thompson Mobile Home Park,Aitkin,Aitkin,Groundwater,0.5 ug/L (ND),0.5 ug/L (ND),45.0,27001.0
2,1010019,2017.0,Arsenic,Why-Not Park,Aitkin,Aitkin,Groundwater,5.29 ug/L,6.02 ug/L,25.0,27001.0
3,1010011,2017.0,Arsenic,Hill City,Aitkin,Hill City,Groundwater,4.77 ug/L,4.77 ug/L,633.0,27001.0
4,1010016,2017.0,Arsenic,McGregor,Aitkin,McGregor,Groundwater,4.83 ug/L,4.83 ug/L,394.0,27001.0

In [12]:
#check for missing info
arsenic_df.count()

pwsId               972
year                962
analyteCode         962
pwsName             962
countyServed        962
cityServed          962
waterSource         962
mean                962
max                 962
populationServed    962
fips                962
dtype: int64

In [14]:
#checks for null/missing data
null_data = arsenic_df[arsenic_df.isnull().any(axis=1)]
null_data

,pwsId,year,analyteCode,pwsName,countyServed,cityServed,waterSource,mean,max,populationServed,fips
962,Source:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
963,Minnesota Public Health Data Access,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
964,Minnesota Environmental Public Health Tracking...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
965,Minnesota Department of Health,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
966,P.O. Box 64882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
967,"St. Paul, MN 55164-0882",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
968,Phone: (651) 201-5900 or toll free: 1-800-205-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
969,Fax: (651) 201-5926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
970,E-mail: tracking.health@state.mn.us,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
971,Web: http://health.mn.gov/mndata,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# #drop missing data
arsenic_df = arsenic_df.dropna(how='any')
arsenic_df.count()

pwsId               962
year                962
analyteCode         962
pwsName             962
countyServed        962
cityServed          962
waterSource         962
mean                962
max                 962
populationServed    962
fips                962
dtype: int64