In [46]:
# Import Dependencies
import pandas as pd
import scipy.stats as stats

In [2]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = "CountyPovertyRate.csv"
county_pov_df = pd.read_csv(csv_path)

county_pov_df.head()

  Rank             County Poverty Rate Urban/Rural/Sub
0  1st      Carver County        4.00%        Suburban
1  2nd  Washington County        5.00%        Suburban
2  3rd      Wright County        5.00%        Suburban
3  4th     Chisago County        5.40%           Rural
4  5th       Scott County        5.60%        Suburban

In [3]:
county_pov_df["Poverty Rate"]

0      4.00%
1      5.00%
2      5.00%
3      5.40%
4      5.60%
5      5.70%
6      6.10%
7      6.40%
8      6.60%
9      6.90%
10     7.10%
11     7.40%
12     7.70%
13     7.80%
14     7.90%
15     8.10%
16     8.20%
17     8.30%
18     8.40%
19     8.40%
20     8.50%
21     8.80%
22     8.90%
23     9.10%
24     9.20%
25     9.20%
26     9.30%
27     9.30%
28     9.40%
29     9.40%
       ...
57    12.00%
58    12.10%
59    12.10%
60    12.20%
61    12.20%
62    12.40%
63    12.50%
64    12.50%
65    12.60%
66    12.70%
67    13.00%
68    13.00%
69    13.00%
70    13.10%
71    13.60%
72    13.70%
73    14.10%
74    14.50%
75    15.00%
76    15.00%
77    15.30%
78    15.40%
79    15.40%
80    15.60%
81    15.80%
82    17.10%
83    17.90%
84    18.10%
85    19.00%
86    22.70%
Name: Poverty Rate, Length: 87, dtype: object

In [4]:
pov_rate = []
county = []
for i in range(len(county_pov_df)):
    county_pov_int = county_pov_df["Poverty Rate"][i]
    county_str = county_pov_df["County"][i]
    county_pov_int = county_pov_int.split("%")[0]
    county_str = county_str.split(" County")[0]
    pov_rate.append(county_pov_int)
    county.append(county_str)

In [5]:
county_pov_df = county_pov_df.drop(columns=["Poverty Rate"],axis=1)

In [6]:
county_pov_df = county_pov_df.drop(columns=["County"],axis=1)

In [7]:
county_pov_df["Poverty Rate (%)"] = pov_rate
county_pov_df["County"] = county
county_pov_df.head(12)

    Rank Urban/Rural/Sub Poverty Rate (%)             County
0    1st        Suburban             4.00             Carver
1    2nd        Suburban             5.00         Washington
2    3rd        Suburban             5.00             Wright
3    4th           Rural             5.40            Chisago
4    5th        Suburban             5.60              Scott
5    6th           Rural             5.70              Dodge
6    7th           Rural             6.10            Wabasha
7    8th           Rural             6.40          Sherburne
8    9th        Suburban             6.60              Anoka
9   10th        Suburban             6.90             Dakota
10  11th           Rural             7.10             Isanti
11  12th           Rural             7.40  Lake of the Woods

In [8]:
#re-order columns
county_pov_df = county_pov_df[['Rank','County','Poverty Rate (%)','Urban/Rural/Sub']]
county_pov_df.head()

  Rank      County Poverty Rate (%) Urban/Rural/Sub
0  1st      Carver             4.00        Suburban
1  2nd  Washington             5.00        Suburban
2  3rd      Wright             5.00        Suburban
3  4th     Chisago             5.40           Rural
4  5th       Scott             5.60        Suburban

In [9]:
county_pov_df.dtypes

Rank                object
County              object
Poverty Rate (%)    object
Urban/Rural/Sub     object
dtype: object

In [10]:
county_pov_df["Poverty Rate (%)"] = pd.to_numeric(county_pov_df["Poverty Rate (%)"])
county_pov_df.dtypes

Rank                 object
County               object
Poverty Rate (%)    float64
Urban/Rural/Sub      object
dtype: object

In [11]:
type(county_pov_df["County"][0])

str

In [12]:
#arsenic 
csv_path1 = "nitrate_2017.csv"
nitrate_df = pd.read_csv(csv_path1)

nitrate_df.head()

,pwsId,year,analyteCode,pwsName,countyServed,cityServed,waterSource,mean,max,populationServed,fips,Unnamed: 11
0,1010001,2017.0,Nitrate,Aitkin,Aitkin,Aitkin,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),2165.0,27001.0,NaN
1,1010002,2017.0,Nitrate,Thompson Mobile Home Park,Aitkin,Aitkin,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),45.0,27001.0,NaN
2,1010019,2017.0,Nitrate,Why-Not Park,Aitkin,Aitkin,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),25.0,27001.0,NaN
3,1010011,2017.0,Nitrate,Hill City,Aitkin,Hill City,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),633.0,27001.0,NaN
4,1010016,2017.0,Nitrate,McGregor,Aitkin,McGregor,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),394.0,27001.0,NaN

In [13]:
nitrate_df = nitrate_df.drop(columns=["Unnamed: 11"],axis=1)

In [14]:
nitrate_df.head()

,pwsId,year,analyteCode,pwsName,countyServed,cityServed,waterSource,mean,max,populationServed,fips
0,1010001,2017.0,Nitrate,Aitkin,Aitkin,Aitkin,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),2165.0,27001.0
1,1010002,2017.0,Nitrate,Thompson Mobile Home Park,Aitkin,Aitkin,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),45.0,27001.0
2,1010019,2017.0,Nitrate,Why-Not Park,Aitkin,Aitkin,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),25.0,27001.0
3,1010011,2017.0,Nitrate,Hill City,Aitkin,Hill City,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),633.0,27001.0
4,1010016,2017.0,Nitrate,McGregor,Aitkin,McGregor,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),394.0,27001.0

In [15]:
#check for missing info
nitrate_df.count()

pwsId               973
year                963
analyteCode         963
pwsName             963
countyServed        963
cityServed          963
waterSource         963
mean                963
max                 963
populationServed    963
fips                963
dtype: int64

In [16]:
#checks for null/missing data
null_data = nitrate_df[nitrate_df.isnull().any(axis=1)]
null_data

,pwsId,year,analyteCode,pwsName,countyServed,cityServed,waterSource,mean,max,populationServed,fips
963,Source:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
964,Minnesota Public Health Data Access,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
965,Minnesota Environmental Public Health Tracking...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
966,Minnesota Department of Health,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
967,P.O. Box 64882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
968,"St. Paul, MN 55164-0882",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
969,Phone: (651) 201-5900 or toll free: 1-800-205-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
970,Fax: (651) 201-5926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
971,E-mail: tracking.health@state.mn.us,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
972,Web: http://health.mn.gov/mndata,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# #drop missing data
nitrate_df = nitrate_df.dropna(how='any')
nitrate_df.count()

pwsId               963
year                963
analyteCode         963
pwsName             963
countyServed        963
cityServed          963
waterSource         963
mean                963
max                 963
populationServed    963
fips                963
dtype: int64

In [18]:
nitrate_df.dtypes

pwsId                object
year                float64
analyteCode          object
pwsName              object
countyServed         object
cityServed           object
waterSource          object
mean                 object
max                  object
populationServed    float64
fips                float64
dtype: object

In [19]:
nitrate_df.head()

,pwsId,year,analyteCode,pwsName,countyServed,cityServed,waterSource,mean,max,populationServed,fips
0,1010001,2017.0,Nitrate,Aitkin,Aitkin,Aitkin,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),2165.0,27001.0
1,1010002,2017.0,Nitrate,Thompson Mobile Home Park,Aitkin,Aitkin,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),45.0,27001.0
2,1010019,2017.0,Nitrate,Why-Not Park,Aitkin,Aitkin,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),25.0,27001.0
3,1010011,2017.0,Nitrate,Hill City,Aitkin,Hill City,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),633.0,27001.0
4,1010016,2017.0,Nitrate,McGregor,Aitkin,McGregor,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),394.0,27001.0

In [20]:
mean_col = []
max_col = []

for i in range(len(nitrate_df)):
    mean_int = nitrate_df["mean"][i]
    max_int = nitrate_df["max"][i]
    
    mean_int = mean_int.split(" ")[0]
    max_int = max_int.split(" ")[0]
    
    mean_col.append(mean_int)
    max_col.append(max_int)

In [21]:
nitrate_df["Mean (ug/L)"] = mean_col
nitrate_df["Max (ug/L)"] = max_col

nitrate_df.head()

,pwsId,year,analyteCode,pwsName,countyServed,cityServed,waterSource,mean,max,populationServed,fips,Mean (ug/L),Max (ug/L)
0,1010001,2017.0,Nitrate,Aitkin,Aitkin,Aitkin,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),2165.0,27001.0,0.025,0.025
1,1010002,2017.0,Nitrate,Thompson Mobile Home Park,Aitkin,Aitkin,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),45.0,27001.0,0.025,0.025
2,1010019,2017.0,Nitrate,Why-Not Park,Aitkin,Aitkin,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),25.0,27001.0,0.025,0.025
3,1010011,2017.0,Nitrate,Hill City,Aitkin,Hill City,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),633.0,27001.0,0.025,0.025
4,1010016,2017.0,Nitrate,McGregor,Aitkin,McGregor,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),394.0,27001.0,0.025,0.025

In [22]:
nitrate_df = nitrate_df.drop(columns=["mean"],axis=1)

In [23]:
nitrate_df = nitrate_df.drop(columns=["max"],axis=1)

In [24]:
nitrate_df["populationServed"] = nitrate_df["populationServed"].astype(int)

In [25]:
nitrate_df.head()

,pwsId,year,analyteCode,pwsName,countyServed,cityServed,waterSource,populationServed,fips,Mean (ug/L),Max (ug/L)
0,1010001,2017.0,Nitrate,Aitkin,Aitkin,Aitkin,Groundwater,2165,27001.0,0.025,0.025
1,1010002,2017.0,Nitrate,Thompson Mobile Home Park,Aitkin,Aitkin,Groundwater,45,27001.0,0.025,0.025
2,1010019,2017.0,Nitrate,Why-Not Park,Aitkin,Aitkin,Groundwater,25,27001.0,0.025,0.025
3,1010011,2017.0,Nitrate,Hill City,Aitkin,Hill City,Groundwater,633,27001.0,0.025,0.025
4,1010016,2017.0,Nitrate,McGregor,Aitkin,McGregor,Groundwater,394,27001.0,0.025,0.025

In [26]:
#rename columns:
nitrate_df = nitrate_df.rename(columns = {"pwsId":"ID", "pwsName":"Power System", "year":"Year",
                                "analyteCode":"Analyte","countyServed": "County",
                                "cityServed": "City Served","waterSource": "Water Source",
                                "populationServed": "Population Served","fips": "FIPS"})
nitrate_df.head()

,ID,Year,Analyte,Power System,County,City Served,Water Source,Population Served,FIPS,Mean (ug/L),Max (ug/L)
0,1010001,2017.0,Nitrate,Aitkin,Aitkin,Aitkin,Groundwater,2165,27001.0,0.025,0.025
1,1010002,2017.0,Nitrate,Thompson Mobile Home Park,Aitkin,Aitkin,Groundwater,45,27001.0,0.025,0.025
2,1010019,2017.0,Nitrate,Why-Not Park,Aitkin,Aitkin,Groundwater,25,27001.0,0.025,0.025
3,1010011,2017.0,Nitrate,Hill City,Aitkin,Hill City,Groundwater,633,27001.0,0.025,0.025
4,1010016,2017.0,Nitrate,McGregor,Aitkin,McGregor,Groundwater,394,27001.0,0.025,0.025

In [27]:
nitrate_df["Year"].unique()

array([2017.])

In [28]:
#converts to int
nitrate_df["Year"] = nitrate_df["Year"].astype(int)
#converts to str
nitrate_df["Year"] = nitrate_df["Year"].astype(str)
nitrate_df.dtypes

ID                    object
Year                  object
Analyte               object
Power System          object
County                object
City Served           object
Water Source          object
Population Served      int64
FIPS                 float64
Mean (ug/L)           object
Max (ug/L)            object
dtype: object

In [29]:
nitrate_df.head()

,ID,Year,Analyte,Power System,County,City Served,Water Source,Population Served,FIPS,Mean (ug/L),Max (ug/L)
0,1010001,2017,Nitrate,Aitkin,Aitkin,Aitkin,Groundwater,2165,27001.0,0.025,0.025
1,1010002,2017,Nitrate,Thompson Mobile Home Park,Aitkin,Aitkin,Groundwater,45,27001.0,0.025,0.025
2,1010019,2017,Nitrate,Why-Not Park,Aitkin,Aitkin,Groundwater,25,27001.0,0.025,0.025
3,1010011,2017,Nitrate,Hill City,Aitkin,Hill City,Groundwater,633,27001.0,0.025,0.025
4,1010016,2017,Nitrate,McGregor,Aitkin,McGregor,Groundwater,394,27001.0,0.025,0.025

In [30]:
nitrate_df["Mean (ug/L)"] = pd.to_numeric(nitrate_df["Mean (ug/L)"])
nitrate_df["Max (ug/L)"] = pd.to_numeric(nitrate_df["Max (ug/L)"])
nitrate_df.dtypes

ID                    object
Year                  object
Analyte               object
Power System          object
County                object
City Served           object
Water Source          object
Population Served      int64
FIPS                 float64
Mean (ug/L)          float64
Max (ug/L)           float64
dtype: object

In [31]:
nitrate_df = nitrate_df[['Year','ID','Power System','Water Source','County',
                         'City Served','Population Served','Analyte','Mean (ug/L)','Max (ug/L)','FIPS']]
nitrate_df.head()

,Year,ID,Power System,Water Source,County,City Served,Population Served,Analyte,Mean (ug/L),Max (ug/L),FIPS
0,2017,1010001,Aitkin,Groundwater,Aitkin,Aitkin,2165,Nitrate,0.025,0.025,27001.0
1,2017,1010002,Thompson Mobile Home Park,Groundwater,Aitkin,Aitkin,45,Nitrate,0.025,0.025,27001.0
2,2017,1010019,Why-Not Park,Groundwater,Aitkin,Aitkin,25,Nitrate,0.025,0.025,27001.0
3,2017,1010011,Hill City,Groundwater,Aitkin,Hill City,633,Nitrate,0.025,0.025,27001.0
4,2017,1010016,McGregor,Groundwater,Aitkin,McGregor,394,Nitrate,0.025,0.025,27001.0

In [32]:
county_grouped = nitrate_df.groupby(["County"]) 
mean_concentration = county_grouped.mean()["Mean (ug/L)"]
#average_max_concentration = county_grouped.mean()["Max (ug/L)"]

In [33]:
ByCounty_df = pd.DataFrame(mean_concentration)
ByCounty_df = ByCounty_df.reset_index()
ByCounty_df.head()

     County  Mean (ug/L)
0    Aitkin     0.025000
1     Anoka     0.116419
2    Becker     1.521889
3  Beltrami     0.343063
4    Benton     2.058714

In [34]:
county_pov_df.head()

  Rank      County  Poverty Rate (%) Urban/Rural/Sub
0  1st      Carver               4.0        Suburban
1  2nd  Washington               5.0        Suburban
2  3rd      Wright               5.0        Suburban
3  4th     Chisago               5.4           Rural
4  5th       Scott               5.6        Suburban

In [35]:
county_combined = pd.merge(ByCounty_df,county_pov_df, on = "County", how = "left")
county_combined.head()

     County  Mean (ug/L)  Rank  Poverty Rate (%) Urban/Rural/Sub
0    Aitkin     0.025000  60th              12.1           Rural
1     Anoka     0.116419   9th               6.6        Suburban
2    Becker     1.521889  67th              12.7           Rural
3  Beltrami     0.343063  86th              19.0           Rural
4    Benton     2.058714  74th              14.1           Rural

In [36]:
county_grouped = nitrate_df.groupby(["County"]) 
sd_concentration = county_grouped.std()["Mean (ug/L)"]

ByCounty1_df = pd.DataFrame(sd_concentration)
ByCounty1_df = ByCounty1_df.reset_index()
ByCounty1_df.head()

     County  Mean (ug/L)
0    Aitkin     0.000000
1     Anoka     0.196687
2    Becker     2.841661
3  Beltrami     0.983462
4    Benton     2.301435

In [37]:
ByCounty1_df = ByCounty1_df.rename(columns = {"Mean (ug/L)":"Standard Deviation (ug/L)"})

county_combined = pd.merge(ByCounty1_df,county_combined, on = "County", how = "left")
county_combined.head()

,County,Standard Deviation (ug/L),Mean (ug/L),Rank,Poverty Rate (%),Urban/Rural/Sub
0,Aitkin,0.000000,0.025000,60th,12.1,Rural
1,Anoka,0.196687,0.116419,9th,6.6,Suburban
2,Becker,2.841661,1.521889,67th,12.7,Rural
3,Beltrami,0.983462,0.343063,86th,19.0,Rural
4,Benton,2.301435,2.058714,74th,14.1,Rural

In [39]:
bins = [0,8,10,11.55,13.4,24]
#will come back later for naming 
bin_names = ["1","2","3","4","5"]

county_combined["Bin Poverty Rate"] = pd.cut(county_combined["Poverty Rate (%)"],bins, labels = bin_names)
county_combined.head()

,County,Standard Deviation (ug/L),Mean (ug/L),Rank,Poverty Rate (%),Urban/Rural/Sub,Bin Poverty Rate
0,Aitkin,0.000000,0.025000,60th,12.1,Rural,4
1,Anoka,0.196687,0.116419,9th,6.6,Suburban,1
2,Becker,2.841661,1.521889,67th,12.7,Rural,4
3,Beltrami,0.983462,0.343063,86th,19.0,Rural,5
4,Benton,2.301435,2.058714,74th,14.1,Rural,5

In [40]:
county_combined["Bin Poverty Rate"].unique()

[4, 1, 5, 2, 3]
Categories (5, object): [1 < 2 < 3 < 4 < 5]

In [41]:
# Create a boxplot to compare means
county_combined.boxplot("Mean (ug/L)", by="Bin Poverty Rate", figsize=(20, 10))

In [42]:
group1 = county_combined[county_combined["Bin Poverty Rate"] == "1"]["Mean (ug/L)"]
group2 = county_combined[county_combined["Bin Poverty Rate"] == "2"]["Mean (ug/L)"]
group3 = county_combined[county_combined["Bin Poverty Rate"] == "3"]["Mean (ug/L)"]
group4 = county_combined[county_combined["Bin Poverty Rate"] == "4"]["Mean (ug/L)"]
group5 = county_combined[county_combined["Bin Poverty Rate"] == "5"]["Mean (ug/L)"]

In [47]:
# Perform the ANOVA
stats.f_oneway(group1, group2, group3, group4, group5)

F_onewayResult(statistic=0.34317879892628717, pvalue=0.8480281968285944)