In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = "CountyPovertyRate.csv"
county_pov_df = pd.read_csv(csv_path)

county_pov_df.head()

  Rank             County Poverty Rate Urban/Rural/Sub
0  1st      Carver County        4.00%        Suburban
1  2nd  Washington County        5.00%        Suburban
2  3rd      Wright County        5.00%        Suburban
3  4th     Chisago County        5.40%           Rural
4  5th       Scott County        5.60%        Suburban

In [ ]:
county_pov_df["Poverty Rate"]

In [3]:
pov_rate = []
for i in range(len(county_pov_df)):
    county_pov_int = county_pov_df["Poverty Rate"][i]
    county_pov_int = county_pov_int.split("%")[0]
    pov_rate.append(county_pov_int)

In [4]:
county_pov_df = county_pov_df.drop(columns=["Poverty Rate"],axis=1)

In [5]:
county_pov_df["Poverty Rate (%)"] = pov_rate
county_pov_df.head()

  Rank             County Urban/Rural/Sub Poverty Rate (%)
0  1st      Carver County        Suburban             4.00
1  2nd  Washington County        Suburban             5.00
2  3rd      Wright County        Suburban             5.00
3  4th     Chisago County           Rural             5.40
4  5th       Scott County        Suburban             5.60

In [6]:
#swap columns
county_pov_df = county_pov_df[['Rank','County','Poverty Rate (%)','Urban/Rural/Sub']]
county_pov_df.head()

  Rank             County Poverty Rate (%) Urban/Rural/Sub
0  1st      Carver County             4.00        Suburban
1  2nd  Washington County             5.00        Suburban
2  3rd      Wright County             5.00        Suburban
3  4th     Chisago County             5.40           Rural
4  5th       Scott County             5.60        Suburban

In [9]:
county_pov_df.dtypes

Rank                object
County              object
Poverty Rate (%)    object
Urban/Rural/Sub     object
dtype: object

In [11]:
county_pov_df["Poverty Rate (%)"] = pd.to_numeric(county_pov_df["Poverty Rate (%)"])
county_pov_df.dtypes

Rank                 object
County               object
Poverty Rate (%)    float64
Urban/Rural/Sub      object
dtype: object

In [12]:
type(county_pov_df["County"][0])

str