In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = "CountyPovertyRate.csv"
county_pov_df = pd.read_csv(csv_path)

county_pov_df.head()

  Rank             County Poverty Rate Urban/Rural/Sub
0  1st      Carver County        4.00%        Suburban
1  2nd  Washington County        5.00%        Suburban
2  3rd      Wright County        5.00%        Suburban
3  4th     Chisago County        5.40%           Rural
4  5th       Scott County        5.60%        Suburban

In [3]:
county_pov_df["Poverty Rate"]

0      4.00%
1      5.00%
2      5.00%
3      5.40%
4      5.60%
5      5.70%
6      6.10%
7      6.40%
8      6.60%
9      6.90%
10     7.10%
11     7.40%
12     7.70%
13     7.80%
14     7.90%
15     8.10%
16     8.20%
17     8.30%
18     8.40%
19     8.40%
20     8.50%
21     8.80%
22     8.90%
23     9.10%
24     9.20%
25     9.20%
26     9.30%
27     9.30%
28     9.40%
29     9.40%
       ...
57    12.00%
58    12.10%
59    12.10%
60    12.20%
61    12.20%
62    12.40%
63    12.50%
64    12.50%
65    12.60%
66    12.70%
67    13.00%
68    13.00%
69    13.00%
70    13.10%
71    13.60%
72    13.70%
73    14.10%
74    14.50%
75    15.00%
76    15.00%
77    15.30%
78    15.40%
79    15.40%
80    15.60%
81    15.80%
82    17.10%
83    17.90%
84    18.10%
85    19.00%
86    22.70%
Name: Poverty Rate, Length: 87, dtype: object

In [4]:
pov_rate = []
county = []
for i in range(len(county_pov_df)):
    county_pov_int = county_pov_df["Poverty Rate"][i]
    county_str = county_pov_df["County"][i]
    county_pov_int = county_pov_int.split("%")[0]
    county_str = county_str.split(" County")[0]
    pov_rate.append(county_pov_int)
    county.append(county_str)

In [5]:
county_pov_df = county_pov_df.drop(columns=["Poverty Rate"],axis=1)

In [6]:
county_pov_df = county_pov_df.drop(columns=["County"],axis=1)

In [7]:
county_pov_df["Poverty Rate (%)"] = pov_rate
county_pov_df["County"] = county
county_pov_df.head(12)

    Rank Urban/Rural/Sub Poverty Rate (%)             County
0    1st        Suburban             4.00             Carver
1    2nd        Suburban             5.00         Washington
2    3rd        Suburban             5.00             Wright
3    4th           Rural             5.40            Chisago
4    5th        Suburban             5.60              Scott
5    6th           Rural             5.70              Dodge
6    7th           Rural             6.10            Wabasha
7    8th           Rural             6.40          Sherburne
8    9th        Suburban             6.60              Anoka
9   10th        Suburban             6.90             Dakota
10  11th           Rural             7.10             Isanti
11  12th           Rural             7.40  Lake of the Woods

In [8]:
#re-order columns
county_pov_df = county_pov_df[['Rank','County','Poverty Rate (%)','Urban/Rural/Sub']]
county_pov_df.head()

  Rank      County Poverty Rate (%) Urban/Rural/Sub
0  1st      Carver             4.00        Suburban
1  2nd  Washington             5.00        Suburban
2  3rd      Wright             5.00        Suburban
3  4th     Chisago             5.40           Rural
4  5th       Scott             5.60        Suburban

In [9]:
county_pov_df.dtypes

Rank                object
County              object
Poverty Rate (%)    object
Urban/Rural/Sub     object
dtype: object

In [10]:
county_pov_df["Poverty Rate (%)"] = pd.to_numeric(county_pov_df["Poverty Rate (%)"])
county_pov_df.dtypes

Rank                 object
County               object
Poverty Rate (%)    float64
Urban/Rural/Sub      object
dtype: object

In [11]:
type(county_pov_df["County"][0])

str

In [12]:
#uranium 
csv_path1 = "uranium_2017.csv"
uranium_df = pd.read_csv(csv_path1)

uranium_df.head()

,pwsId,year,analyteCode,pwsName,countyServed,cityServed,waterSource,mean,max,populationServed,fips,Unnamed: 11
0,1020034,2017.0,Uranium,Andover,Anoka,Andover,Groundwater,0.33 pCi/L (ND),0.33 pCi/L (ND),19918.0,27003.0,NaN
1,1020001,2017.0,Uranium,Anoka,Anoka,Anoka,Groundwater,0.34 pCi/L (ND),0.34 pCi/L (ND),17995.0,27003.0,NaN
2,1020011,2017.0,Uranium,Village Green North Mobile Home Park,Anoka,Cedar,Groundwater,0.19 pCi/L,0.19 pCi/L,450.0,27003.0,NaN
3,1020017,2017.0,Uranium,Coon Rapids,Anoka,Coon Rapids,Groundwater,0.33 pCi/L (ND),0.33 pCi/L (ND),61481.0,27003.0,NaN
4,1020042,2017.0,Uranium,East Bethel,Anoka,East Bethel,Groundwater,0.73 pCi/L,0.97 pCi/L,137.0,27003.0,NaN

In [13]:
uranium_df = uranium_df.drop(columns=["Unnamed: 11"],axis=1)

In [14]:
uranium_df.head()

,pwsId,year,analyteCode,pwsName,countyServed,cityServed,waterSource,mean,max,populationServed,fips
0,1020034,2017.0,Uranium,Andover,Anoka,Andover,Groundwater,0.33 pCi/L (ND),0.33 pCi/L (ND),19918.0,27003.0
1,1020001,2017.0,Uranium,Anoka,Anoka,Anoka,Groundwater,0.34 pCi/L (ND),0.34 pCi/L (ND),17995.0,27003.0
2,1020011,2017.0,Uranium,Village Green North Mobile Home Park,Anoka,Cedar,Groundwater,0.19 pCi/L,0.19 pCi/L,450.0,27003.0
3,1020017,2017.0,Uranium,Coon Rapids,Anoka,Coon Rapids,Groundwater,0.33 pCi/L (ND),0.33 pCi/L (ND),61481.0,27003.0
4,1020042,2017.0,Uranium,East Bethel,Anoka,East Bethel,Groundwater,0.73 pCi/L,0.97 pCi/L,137.0,27003.0

In [15]:
#check for missing info
uranium_df.count()

pwsId               148
year                138
analyteCode         138
pwsName             138
countyServed        138
cityServed          138
waterSource         138
mean                138
max                 138
populationServed    138
fips                138
dtype: int64

In [16]:
#checks for null/missing data
null_data = uranium_df[uranium_df.isnull().any(axis=1)]
null_data

,pwsId,year,analyteCode,pwsName,countyServed,cityServed,waterSource,mean,max,populationServed,fips
138,Source:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,Minnesota Public Health Data Access,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,Minnesota Environmental Public Health Tracking...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,Minnesota Department of Health,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,P.O. Box 64882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,"St. Paul, MN 55164-0882",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,Phone: (651) 201-5900 or toll free: 1-800-205-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,Fax: (651) 201-5926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,E-mail: tracking.health@state.mn.us,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,Web: http://health.mn.gov/mndata,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
#drop missing data
uranium_df = uranium_df.dropna(how='any')
uranium_df.count()

pwsId               138
year                138
analyteCode         138
pwsName             138
countyServed        138
cityServed          138
waterSource         138
mean                138
max                 138
populationServed    138
fips                138
dtype: int64

In [18]:
uranium_df.dtypes

pwsId                object
year                float64
analyteCode          object
pwsName              object
countyServed         object
cityServed           object
waterSource          object
mean                 object
max                  object
populationServed    float64
fips                float64
dtype: object

In [19]:
uranium_df.head()

,pwsId,year,analyteCode,pwsName,countyServed,cityServed,waterSource,mean,max,populationServed,fips
0,1020034,2017.0,Uranium,Andover,Anoka,Andover,Groundwater,0.33 pCi/L (ND),0.33 pCi/L (ND),19918.0,27003.0
1,1020001,2017.0,Uranium,Anoka,Anoka,Anoka,Groundwater,0.34 pCi/L (ND),0.34 pCi/L (ND),17995.0,27003.0
2,1020011,2017.0,Uranium,Village Green North Mobile Home Park,Anoka,Cedar,Groundwater,0.19 pCi/L,0.19 pCi/L,450.0,27003.0
3,1020017,2017.0,Uranium,Coon Rapids,Anoka,Coon Rapids,Groundwater,0.33 pCi/L (ND),0.33 pCi/L (ND),61481.0,27003.0
4,1020042,2017.0,Uranium,East Bethel,Anoka,East Bethel,Groundwater,0.73 pCi/L,0.97 pCi/L,137.0,27003.0

In [20]:
mean_col = []
max_col = []

#Cleaning up the mean and max columns to drop the text.
for i in range(len(uranium_df)):
    mean_int = uranium_df["mean"][i]
    max_int = uranium_df["max"][i]
    
    mean_int = mean_int.split(" ")[0]
    max_int = max_int.split(" ")[0]
    
    mean_col.append(mean_int)
    max_col.append(max_int)

In [21]:
#new columns to place the cleaned up columns into
uranium_df["Mean (ug/L)"] = mean_col
uranium_df["Max (ug/L)"] = max_col

uranium_df.head()

,pwsId,year,analyteCode,pwsName,countyServed,cityServed,waterSource,mean,max,populationServed,fips,Mean (ug/L),Max (ug/L)
0,1020034,2017.0,Uranium,Andover,Anoka,Andover,Groundwater,0.33 pCi/L (ND),0.33 pCi/L (ND),19918.0,27003.0,0.33,0.33
1,1020001,2017.0,Uranium,Anoka,Anoka,Anoka,Groundwater,0.34 pCi/L (ND),0.34 pCi/L (ND),17995.0,27003.0,0.34,0.34
2,1020011,2017.0,Uranium,Village Green North Mobile Home Park,Anoka,Cedar,Groundwater,0.19 pCi/L,0.19 pCi/L,450.0,27003.0,0.19,0.19
3,1020017,2017.0,Uranium,Coon Rapids,Anoka,Coon Rapids,Groundwater,0.33 pCi/L (ND),0.33 pCi/L (ND),61481.0,27003.0,0.33,0.33
4,1020042,2017.0,Uranium,East Bethel,Anoka,East Bethel,Groundwater,0.73 pCi/L,0.97 pCi/L,137.0,27003.0,0.73,0.97

In [22]:
uranium_df = uranium_df.drop(columns=["mean"],axis=1)

In [23]:
uranium_df = uranium_df.drop(columns=["max"],axis=1)

In [24]:
uranium_df["populationServed"] = uranium_df["populationServed"].astype(int)

In [25]:
uranium_df.head()

,pwsId,year,analyteCode,pwsName,countyServed,cityServed,waterSource,populationServed,fips,Mean (ug/L),Max (ug/L)
0,1020034,2017.0,Uranium,Andover,Anoka,Andover,Groundwater,19918,27003.0,0.33,0.33
1,1020001,2017.0,Uranium,Anoka,Anoka,Anoka,Groundwater,17995,27003.0,0.34,0.34
2,1020011,2017.0,Uranium,Village Green North Mobile Home Park,Anoka,Cedar,Groundwater,450,27003.0,0.19,0.19
3,1020017,2017.0,Uranium,Coon Rapids,Anoka,Coon Rapids,Groundwater,61481,27003.0,0.33,0.33
4,1020042,2017.0,Uranium,East Bethel,Anoka,East Bethel,Groundwater,137,27003.0,0.73,0.97

In [26]:
#rename columns:
uranium_df = uranium_df.rename(columns = {"pwsId":"ID", "pwsName":"Power System", "year":"Year",
                                "analyteCode":"Analyte","countyServed": "County",
                                "cityServed": "City Served","waterSource": "Water Source",
                                "populationServed": "Population Served","fips": "FIPS"})
uranium_df.head()

,ID,Year,Analyte,Power System,County,City Served,Water Source,Population Served,FIPS,Mean (ug/L),Max (ug/L)
0,1020034,2017.0,Uranium,Andover,Anoka,Andover,Groundwater,19918,27003.0,0.33,0.33
1,1020001,2017.0,Uranium,Anoka,Anoka,Anoka,Groundwater,17995,27003.0,0.34,0.34
2,1020011,2017.0,Uranium,Village Green North Mobile Home Park,Anoka,Cedar,Groundwater,450,27003.0,0.19,0.19
3,1020017,2017.0,Uranium,Coon Rapids,Anoka,Coon Rapids,Groundwater,61481,27003.0,0.33,0.33
4,1020042,2017.0,Uranium,East Bethel,Anoka,East Bethel,Groundwater,137,27003.0,0.73,0.97

In [27]:
uranium_df["Year"].unique()

array([2017.])

In [28]:
#converts to int
uranium_df["Year"] = uranium_df["Year"].astype(int)
#converts to str
uranium_df["Year"] = uranium_df["Year"].astype(str)
uranium_df.dtypes

ID                    object
Year                  object
Analyte               object
Power System          object
County                object
City Served           object
Water Source          object
Population Served      int64
FIPS                 float64
Mean (ug/L)           object
Max (ug/L)            object
dtype: object

In [29]:
uranium_df.head()

,ID,Year,Analyte,Power System,County,City Served,Water Source,Population Served,FIPS,Mean (ug/L),Max (ug/L)
0,1020034,2017,Uranium,Andover,Anoka,Andover,Groundwater,19918,27003.0,0.33,0.33
1,1020001,2017,Uranium,Anoka,Anoka,Anoka,Groundwater,17995,27003.0,0.34,0.34
2,1020011,2017,Uranium,Village Green North Mobile Home Park,Anoka,Cedar,Groundwater,450,27003.0,0.19,0.19
3,1020017,2017,Uranium,Coon Rapids,Anoka,Coon Rapids,Groundwater,61481,27003.0,0.33,0.33
4,1020042,2017,Uranium,East Bethel,Anoka,East Bethel,Groundwater,137,27003.0,0.73,0.97

In [30]:
uranium_df["Mean (ug/L)"] = pd.to_numeric(uranium_df["Mean (ug/L)"])
uranium_df["Max (ug/L)"] = pd.to_numeric(uranium_df["Max (ug/L)"])
uranium_df.dtypes

ID                    object
Year                  object
Analyte               object
Power System          object
County                object
City Served           object
Water Source          object
Population Served      int64
FIPS                 float64
Mean (ug/L)          float64
Max (ug/L)           float64
dtype: object

In [31]:
uranium_df = uranium_df[['Year','ID','Power System','Water Source','County',
                         'City Served','Population Served','Analyte','Mean (ug/L)','Max (ug/L)','FIPS']]
uranium_df.head()

,Year,ID,Power System,Water Source,County,City Served,Population Served,Analyte,Mean (ug/L),Max (ug/L),FIPS
0,2017,1020034,Andover,Groundwater,Anoka,Andover,19918,Uranium,0.33,0.33,27003.0
1,2017,1020001,Anoka,Groundwater,Anoka,Anoka,17995,Uranium,0.34,0.34,27003.0
2,2017,1020011,Village Green North Mobile Home Park,Groundwater,Anoka,Cedar,450,Uranium,0.19,0.19,27003.0
3,2017,1020017,Coon Rapids,Groundwater,Anoka,Coon Rapids,61481,Uranium,0.33,0.33,27003.0
4,2017,1020042,East Bethel,Groundwater,Anoka,East Bethel,137,Uranium,0.73,0.97,27003.0

In [32]:
county_grouped = uranium_df.groupby(["County"]) 
mean_concentration = county_grouped.mean()["Mean (ug/L)"]
#average_max_concentration = county_grouped.mean()["Max (ug/L)"]

In [33]:
ByCounty_df = pd.DataFrame(mean_concentration)
ByCounty_df = ByCounty_df.reset_index()
ByCounty_df.head()

       County  Mean (ug/L)
0       Anoka     0.408182
1  Blue Earth     5.156667
2       Brown     0.340000
3      Carver     0.572000
4        Cass     0.500000

In [34]:
county_pov_df.head()

  Rank      County  Poverty Rate (%) Urban/Rural/Sub
0  1st      Carver               4.0        Suburban
1  2nd  Washington               5.0        Suburban
2  3rd      Wright               5.0        Suburban
3  4th     Chisago               5.4           Rural
4  5th       Scott               5.6        Suburban

In [35]:
county_combined = pd.merge(ByCounty_df,county_pov_df, on = "County", how = "outer")
county_combined.head()

       County  Mean (ug/L)  Rank  Poverty Rate (%) Urban/Rural/Sub
0       Anoka     0.408182   9th               6.6        Suburban
1  Blue Earth     5.156667  85th              18.1           Rural
2       Brown     0.340000  16th               8.1           Rural
3      Carver     0.572000   1st               4.0        Suburban
4        Cass     0.500000  78th              15.3           Rural

In [36]:
county_grouped = uranium_df.groupby(["County"]) 
sd_concentration = county_grouped.std()["Mean (ug/L)"]

ByCounty1_df = pd.DataFrame(sd_concentration)
ByCounty1_df = ByCounty1_df.reset_index()
ByCounty1_df.head()

       County  Mean (ug/L)
0       Anoka     0.180156
1  Blue Earth     9.286430
2       Brown          NaN
3      Carver     0.208974
4        Cass          NaN

In [37]:
ByCounty1_df = ByCounty1_df.rename(columns = {"Mean (ug/L)":"Standard Deviation (ug/L)"})

county_combined = pd.merge(ByCounty1_df,county_combined, on = "County", how = "outer")
county_combined.head()

,County,Standard Deviation (ug/L),Mean (ug/L),Rank,Poverty Rate (%),Urban/Rural/Sub
0,Anoka,0.180156,0.408182,9th,6.6,Suburban
1,Blue Earth,9.286430,5.156667,85th,18.1,Rural
2,Brown,NaN,0.340000,16th,8.1,Rural
3,Carver,0.208974,0.572000,1st,4.0,Suburban
4,Cass,NaN,0.500000,78th,15.3,Rural